.navbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(0 0 0 / 84%);
  color: white;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  position: fixed;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  top:0;
  .avatar {
    border-radius: 50px;
    background-color: whitesmoke;
    color: #2d2d2d;
    padding: 5px 10px;
  }
  .logo{
    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}