.comments-box {
  box-sizing: border-box;
  padding: 10px;
  // box-shadow: 0px 1px 6px grey;
  // margin: 20px;
  border-radius: 6px;
  max-height: 0;
  overflow: hidden;
  width: 80%;
  margin: auto;
  transition: max-height 0.6s ease-in-out;

  .comments-header {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: gray;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
  }
}
