html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-title {
  margin: 20px 0;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

.page-content {
  margin-top: 110px;
  padding: 0px 60px;
}

.content-body {
  height: 96%;
  overflow: auto;
}

.text-center {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.84);
  font-weight: 300;
  font-size: 12px;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0px;
  box-sizing: border-box;
}
